@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");
@import url("https://fonts.googleapis.com/css?family=Bubbler+One");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Cardo");
body {
  font: 15px/1.5 Raleway, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

/*red #eb0000
 *grey #3c3436 */
/*GLOBAL */
/*#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 10001;
}

#loading-animation {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(Layer1.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: -60px 0 0 -64px;
}
*/
header .navbar {
  background: #3c3436;
  margin-bottom: 0;
  color: #ffffff;
  min-height: 100px;
  border-bottom: #eb0000 6px solid !important;
  display: flex;
  align-items: center;
}
@media(max-width:768px) {
  header .navbar .container {
    width: 90%;
  }
}

.high, .current a {
  color: #eb0000 !important;
  font-weight: bolder;
}

header li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 7px !important;
}
header ul.dropdown-menu li a {
  font-size: 14px;
}
header a:hover {
  color: #ff9797;
  text-decoration: none;
  font-weight: bold;
}

/*Navbar */
.navbar-toggle {
  margin: 5px;
}

.navbar-brand {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.ham {
  width: 30px;
  height: 25px;
  position: relative;
}
.ham .burg {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.ham .burg:nth-child(even) {
  left: 50%;
  border-radius: 0 15px 15px 0;
}
.ham .burg:nth-child(odd) {
  left: 0;
  border-radius: 15px 0 0 15px;
}
.ham .burg:nth-child(1), .ham .burg:nth-child(2) {
  top: 0px;
}
.ham .burg:nth-child(3), .ham .burg:nth-child(4) {
  top: 10px;
}
.ham .burg:nth-child(5), .ham .burg:nth-child(6) {
  top: 20px;
}

.ham.open .burg:nth-child(1), .ham.open .burg:nth-child(6) {
  transform: rotate(45deg);
}
.ham.open .burg:nth-child(2), .ham.open .burg:nth-child(5) {
  transform: rotate(-45deg);
}
.ham.open .burg:nth-child(3) {
  left: -10px;
  opacity: 0;
}
.ham.open .burg:nth-child(4) {
  left: 20px;
  opacity: 0;
}
.ham.open .burg:nth-child(1), .ham.open .burg:nth-child(2) {
  top: 5px;
}
.ham.open .burg:nth-child(5), .ham.open .burg:nth-child(6) {
  top: 15px;
}
.ham.open .burg:nth-child(2), .ham.open .burg:nth-child(6) {
  left: 12px;
}
.ham.open .burg:nth-child(1), .ham.open .burg:nth-child(5) {
  left: 1px;
}

.submenu {
  padding-left: 80px !important;
}

.dropdown-header {
  padding: 3px 10px;
}

.banner {
  background: #2b2b2b;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-27 {
  font-size: 27px;
}

.font-30 {
  font-size: 30px;
}

.no-style {
  list-style-type: none;
}




.index #showcase {
  min-height: 500px;
  background: url("Layer1.png") no-repeat;
  background-position: 50% 80%;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index #showcase h1 {
  padding-top: 20px;
  font-size: 55px;
  margin-bottom: 10px;
}

.index #showcase p {
  font-size: 20px;
}
.index #sec1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index #sec1 h1 {
  font-size: 40px;
  margin: 40px 40px 15px 40px;
}
.index #sec1 .rule {
  border-color: #3c3436;
  width: 5%;
  padding-bottom: 20px;
}
.index #sec1 p {
  font-size: 24px;
}
.index #sec1 p .glyphicon {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.index #sec1 a {
  background-color: #3c3436;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  border-color: #3c3436;
}
.index #outer {
  padding: 0;
  margin: 0;
  background: url(Layer1.png) 0px -200px no-repeat fixed;
  text-align: center;
  color: white;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index .inner h1 {
  font-size: 50px;
  text-shadow: 3px 4px black;
  padding-bottom: 40px;
}
.index .innersec .Q {
  font-size: 20px;
  text-shadow: 3px 4px black;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index #sec2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index #sec2 h1 {
  font-size: 40px;
  margin: 40px 40px 15px 40px;
}
.index #sec2 .rule {
  border-color: #3c3436;
  width: 5%;
  padding-bottom: 20px;
}
.index #sec2 p {
  font-size: 24px;
}
.index #sec2 .glyphicon {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.index #sec2 a {
  background-color: #3c3436;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #3c3436;
  border-radius: 25px;
}



/*Section 1 */
/*InnerOuter */
/*Section 2 */
/*COSMOS */
.cosmos .prem1, .cosmos .prem2 {
  font-size: 18px;
}
.cosmos .prem1point1, .cosmos .prem1point2, .cosmos .prem1point3 {
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  padding: 10px;
}
.cosmos .title {
  padding-bottom: 20px;
}
.cosmos .prem1 {
  margin-bottom: 20px;
}
.cosmos .prem1 hr {
  border-color: #2b2b2b;
}
.cosmos .prem3 hr {
  border-color: #2b2b2b;
}
.cosmos .prem1point1 {
  margin-top: 45px;
}
.cosmos .prem1point2 {
  margin-bottom: 20px;
}
.cosmos .supportPrem1 {
  margin: 0 4%;
}
.cosmos .prem1 .glyphicon {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.cosmos .prem2 {
  min-height: 1100px;
  background: #2b2b2b;
  color: white;
  padding-bottom: 20px;
}
.cosmos .prem2 .title {
  margin: 0;
}
.cosmos .prem2 h1 {
  padding-top: 30px;
}
.cosmos .prem2 hr {
  padding-bottom: 20px;
}
.cosmos .prem2 .glyphicon {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.cosmos .prem2point1, .cosmos .prem2point2 {
  border: 1px #fff solid;
  border-radius: 80px;
  padding: 20px;
  width: 46%;
}
.cosmos .prem2point1, .cosmos .prem2point2 {
  margin: 0 2%;
}
.cosmos blockquote {
  border-left: 0;
}
.cosmos blockquote::before {
  content: "â€œ";
  /*Unicode for Left Double Quote */
  /*Font */
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
}
.cosmos blockquote .quote {
  margin-top: -30px;
  margin-left: 30px;
}
.cosmos .concl {
  min-height: 100px;
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  padding: 14px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.cosmos .concl span {
  font-size: 20px;
  font-weight: bold;
}
.cosmos .prem3 .conclIcon {
  font-size: 60px;
}
.cosmos .concl.final {
  background: #2b2b2b;
  color: #ffffff;
}
.cosmos .concl p {
  margin: 10px 25px;
}

@media (max-width: 992px) {
  .cosmos .prem1point2 {
    margin-bottom: 20px;
  }
  .cosmos .prem1point1 {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .cosmos .supportPrem1 {
    margin: 0 !important;
  }
  .cosmos .prem2point1, .cosmos .prem2point2 {
    width: 96%;
  }
  .cosmos .prem2point1 {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cosmos * {
    font-size: 18px !important;
  }
  .cosmos i.glyphicon {
    font-size: 50px !important;
  }
  .cosmos i.fa {
    font-size: 30px !important;
  }
}
/*MORAL */
.moral .prem1 {
  font-size: 20px;
  margin-bottom: 40px;
}
.moral .prem1 hr {
  border-color: #2b2b2b;
}
.moral .prem1point1 {
  margin-top: 45px;
  margin-bottom: 30px;
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  padding: 10px;
}
.moral .prem1point2 {
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  padding: 10px;
}
.moral .prem1point1 h3, .moral .prem1point2 h3 {
  margin-bottom: 45px;
}
.moral blockquote::before {
  content: "â€œ";
  /*Unicode for Left Double Quote */
  /*Font */
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
}
.moral blockquote .quote {
  margin-top: -30px;
  margin-left: 30px;
}
.moral .prem1point2 blockquote {
  /*border-left: 5px solid grey; */
  margin-left: 50px;
  padding: 20px 50px;
  padding-right: 100px;
  border-left: 0;
}
.moral .prem2 .glyphicon {
  /*font-size: 70px; */
  display: flex;
  justify-content: center;
}
.moral .prem1 .glyphicon, .moral .prem1 .icon {
  /*font-size: 70px; */
  display: flex;
  justify-content: center;
}
.moral .prem2 {
  /*min-height: 1100px; */
  background: #2b2b2b;
  color: white;
  padding-bottom: 20px;
}
.moral .prem2 .icon {
  /*font-size: 70px; */
  display: flex;
  justify-content: center;
}
.moral .prem2 h1 {
  padding-top: 30px;
}
.moral .prem2 hr {
  padding-bottom: 20px;
}
.moral .prem1point2 {
  padding: 10px 25px;
}
.moral .prem1point2 hr.col-md-2 {
  border-color: grey;
}
.moral .prem2point1 p, .moral .prem2point2 p, .moral .prem2point3 p {
  font-size: 25px;
}
.moral .prem2point1, .moral .prem2point2, .moral .prem2point3 {
  border: 1px #fff solid;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 70px;
  min-height: 375px;
}

.right.carousel-control, .left.carousel-control {
  background: none;
  top: -120px;
}

.moral .prem2 #myCarousel h1 {
  padding-top: 0;
  padding-bottom: 20px;
}
.moral .prem3 hr {
  border-color: #2b2b2b;
  margin-top: 0;
  margin-bottom: 40px;
}
.moral .concl {
  min-height: 100px;
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  padding: 14px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.moral .concl span {
  font-size: 20px;
  font-weight: bold;
}
.moral .prem3 .conclIcon {
  font-size: 60px;
}
.moral .concl.final {
  background: #2b2b2b;
  color: #ffffff;
}
.moral .concl p {
  margin: 10px 25px;
}

@media (max-width: 700px) {
  .moral .prem1point2 blockquote {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .moral * {
    font-size: 18px !important;
  }
  .moral i.glyphicon {
    font-size: 50px !important;
  }
  .moral i.fa {
    font-size: 20px !important;
  }
  .moral i.fa.conclIcon {
    font-size: 30px !important;
  }
  .moral i.fa-5x {
    font-size: 70px !important;
  }
}
/*RESURRECTION */
body.resurrection {
  position: relative;
}

.resurrection div.col-sm-9 div {
  height: 250px;
  font-size: 28px;
}
.resurrection #section1, .resurrection #section2, .resurrection #section3, .resurrection #section4, .resurrection #section5, .resurrection #section6 {
  padding-top: 180px;
  margin-top: -180px;
}
.resurrection #section2 .container-fluid, .resurrection #section4 .container-fluid, .resurrection #section6 .container-fluid {
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.conclusion .container-fluid {
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.resurrection #section1 .container-fluid, .resurrection #section3 .container-fluid, .resurrection #section5 .container-fluid {
  border: #2b2b2b 2px solid;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.final .container-fluid {
  border: #2b2b2b 2px solid;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.resurrection .banner {
  margin-bottom: 0 !important;
}
.resurrection .argument {
  padding-left: 0;
}

.argument .col-md-12 {
  padding-left: 0;
}

.resurrection .myScrollSpy {
  background-color: #2b2b2b;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 0;
}
.resurrection ul.nav-pills {
  padding: 35px !important;
  top: 10%;
  position: fixed;
}
.resurrection .nav-pills li a {
  color: white;
  border: solid white 2px;
  border-radius: 25px;
  margin-bottom: 20px;
}
.resurrection .nav-pills li a:hover {
  color: #2b2b2b !important;
}
.resurrection ul.nav-pills h1 {
  color: white;
  margin-bottom: 20px;
}
.resurrection .nav-pills li.active a {
  background-color: white;
  color: black !important;
}
.resurrection span.info {
  font-size: 12px;
  color: black;
}
.resurrection span.info .fa {
  font-size: 18px;
}
.resurrection .objection {
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  padding: 20px;
  /*    display: none; */
}
.resurrection span#popup {
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  background: #2b2b2b;
}
.resurrection blockquote {
  padding: 0px 0px;
  padding-right: 100px;
  border-left: 0;
  font-size: 15px;
}
.resurrection blockquote::before {
  content: "â€œ";
  /*Unicode for Left Double Quote */
  /*Font */
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
}
.resurrection blockquote .quote {
  margin-top: -30px;
  margin-left: 30px;
}
.resurrection blockquote .text-right {
  width: 70%;
}
.resurrection .convert1 {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
}
.resurrection .convert2 {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
}
.resurrection .convert1 {
  margin-bottom: 40px;
}
.resurrection .alternateHypo {
  min-height: 700px;
  font-size: 18px;
  margin-bottom: 20px;
}
.resurrection .alternateHypo h1 {
  margin-bottom: 40px;
}
.resurrection .alterIcon {
  width: 72px;
}
.resurrection .bannerPic {
  height: 100px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .resurrection .testi {
    width: 46% !important;
    float: left;
  }
}
@media (max-width: 768px) {
  .resurrection .convert2 {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .resurrection blockquote {
    padding-right: 0;
    margin-left: -50px;
  }
  .resurrection blockquote.odd {
    margin-left: 0;
  }
  .resurrection .col-xs-12 {
    padding-right: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .resurrection .argument, .argument .col-md-12 {
    padding-left: 15px;
  }
}
/*Arguments */
.arguments .argument {
  min-height: 400px;
  padding: 0px 0px;
  border: 2px solid #2c3e50;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
}
.arguments section h1 {
  margin-top: 25px;
  margin-bottom: 40px;
}
.arguments .argument .content {
  padding: 0 10px;
}
.arguments .argument img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.arguments .contactSection {
  min-height: 300px;
  background: url(Layer1.png);
  background-position: 0% 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-top: 40px;
  margin-bottom: 0px;
}

/*.arguments section{
 *    margin-top: 25px;
 *} */
.contactSection:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #000000, #312a2a);
  opacity: 0.8;
}

.arguments a.btn {
  color: white;
  border: solid #2b2b2b 2px;
  background: #2b2b2b;
  border-radius: 25px;
  font-size: 20px;
}
.arguments footer {
  margin-top: 0;
}

@media (max-width: 768px) {
  .arguments .argument {
    margin-bottom: 25px;
  }
}
/*Contact */
.contact .myButton {
  background-color: #2b2b2b;
  width: 20%;
  height: 50px;
  color: white;
  border-radius: 25px;
  margin-bottom: 20px;
}

/*Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #d02929;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 0;
}



